<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/fragments :: head('Admin panel - Wish Mart', 'none')"></head>

<body>
<div th:insert="~{blocks/fragments :: scripts}"></div>
<div th:replace="blocks/fragments :: admin-navbar"></div>
<div id="contact-page" class="container">
    <div class="bg">
        <div class="row">

            <div class="col-sm-3">
                <div th:replace="/blocks/admin-sidebar :: sidebar"></div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items">

                    <h2 class="title text-center">Welcome admin!<br></h2>
                    <h2 class="text-center mt-5">Use Admin Sidebar to manage the Data!</h2>

                </div>
            </div>
        </div>
    </div>
</div><!--/#pro-cat-page-->
<div th:insert="~{blocks/fragments :: additional_footer}"></div>
</body>
</html>